body{
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", sans-serif;
    width: 100vw;
}

.container{
    margin:0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-section{
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    flex-direction: column;
    flex: 0 1 
}

.navbar{
    height: 100px;
    display: flex;
    align-items: center;
}

.hero{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.hero-text{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hero img{
    flex: 1;
}

.hero-section .title{
    font-size: 48px;
    color: #f8faf8;
    font-weight: 900;
}

.logo{
    font-size:24px ;
    color: #f9faf8;
    font-weight: 900;
    margin-right: auto;
}

button{
    box-sizing: border-box;
    background-color: #3882f6;
    color: #f8faf8;
    font-weight: bold;
    width: 100px;
    border-radius: 8px;
    padding: 8px 14px;
    flex: 0 1 auto;
}

.subtitle{
    font-size: 36px;
    color:#1f2937;
    font-weight: 900;
}

.quote-section{
    color:#e5e7eb;
}

.quote{
    font-size: 36px;
    font-family: "light italic", serif;
    color: #1f2937;
}

.cta-card{
    background-color: #3882f6;
}

ol{
    list-style: none;
    display: flex;
    gap: 22px;
    padding-left: 0px;
}

a{
    color: #e5e7eb;
    text-decoration: none;
}